<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 添加注解驱动 -->
    <context:annotation-config/>
    <!-- 自动扫描 -->
    <!--<context:component-scan base-package="com.zzht.component"/>-->

    <!-- 引入配置文件 -->
    <context:property-placeholder location="conf/application.properties" ignore-unresolvable="true"/>

    <!-- 配置数据源 -->
    <bean id="dataSource" destroy-method="close"
          class="com.alibaba.druid.pool.DruidDataSource"
          p:driverClassName="${db.driver}"
          p:url="${db.url}"
          p:username="${db.username}"
          p:password="${db.password}"
          p:initialSize="${db.initialSize}"
          p:maxActive="${db.maxActive}"
          p:maxIdle="${db.maxIdle}"
          p:minIdle="${db.minIdle}"
          p:maxWait="${db.maxWait}"/>

    <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:mapperLocations="classpath:sqlmaps/PersonMapper.xml"/>

    <!-- DAO接口所在包名，Spring会自动查找其下的类 --><!--只扫描带@Repository标签类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:annotationClass="org.springframework.stereotype.Repository"
          p:basePackage="com.zzht.component.*.dao"
          p:sqlSessionFactoryBeanName="sqlSessionFactory"/>

    <!-- 事务管理 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>

    <tx:annotation-driven transaction-manager="transactionManager" />

</beans>